body {
  background-color: rgb(25, 25, 25);
  color: white;
}

#dashboard-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

button {
  padding: 3px;
  margin: 5px;
  color: rgb(184, 184, 184);
  border: none;
  background-color: rgb(25, 25, 25);
  font-size: 20px;
  padding-left: 50px;
  font-family: 'Franklin Gothic Medium';
}

p {
  display:flex;
  flex-direction: column;
  text-align: left;
}

.graph, .loading {
  /* display: flex; */
  padding: 1vw;
  margin: 10px;
  width: 40vw;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  /* min-width: 400px;
  min-height: 500px; */
}

#logo-icon {
  max-height: 30px;
  margin-left: -10px;
}

#logo {
  max-height: 40px;
  /* padding-right: 1vw; */
  /* margin-bottom: 25px; */
  /* object-fit: contain; */
}

#kubernocular-logo {
  max-height: 50px;
  object-fit: contain;
}

.loading {
  display: flex;
  min-height: 300px;
  justify-content: center;
  align-items: center;
}