body {
  background-color: rgb(25, 25, 25);
  color: white;
}

#num-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#metric-graphs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

button {
  padding: 3px;
  margin: 5px;
  color: rgb(184, 184, 184);
  border: none;
  background-color: rgb(25, 25, 25);
  font-size: 20px;
  padding-left: 50px;
  font-family: 'Franklin Gothic Medium';
}

p {
  display:flex;
  flex-direction: column;
  text-align: left;
}

.graph, .loading {
  padding: 1vw;
  margin: 10px;
  width: 40vw;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* background-image: linear-gradient(rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09)); */
  /* box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%); */
  border-radius: 10px;
}

#logo-icon {
  max-height: 30px;
  margin-left: -10px;
}

#logo {
  max-height: 40px;
}

#kubernocular-logo {
  max-height: 50px;
  object-fit: contain;
}

.loading {
  display: flex;
  min-height: 300px;
  justify-content: center;
  align-items: center;
}

.MuiTableBody-root {
  cursor: pointer;
}

#instant-metrics-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 81vw;
  background-image: linear-gradient(rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09));
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  border-radius: 10px;
}

#instant-metrics {
  width: 65%;
  border: dotted gray;
}

#db-container {
  display: flex;
  flex-direction: column;
}

#nav-instant-metrics-table {
  display: grid;
  grid-template-columns: auto auto auto;
  font-size: 0.7vw;
}

.metric-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09));
  /* box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%); */
  border-radius: 10px;
  margin: 0.5vw;
  width: 5vw;
}

.metric-label {
  padding: 0.25vw;
}

.instant-metric-comp {
  padding: 0.5vw;
  /* flex-shrink: 0.5; */
  width: 24%;
}

#stacked-bar-chart {
  /* flex-shrink: 2;  */
  width: 20%;
}

.legend-item, .shape, .legend-header {
  border: dotted white;
}

#visualizer-legend, .legend-item {
  display: flex;
  flex-direction: row;
}